.cb_slideshow,
.cb_slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb_slideshow:after { 
    content: '';
    background: transparent url(./pattern.png) repeat top left; 
}
.cb_slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
    -moz-animation: imageAnimation 18s linear infinite 0s;
    -o-animation: imageAnimation 18s linear infinite 0s;
    -ms-animation: imageAnimation 18s linear infinite 0s;
    animation: imageAnimation 18s linear infinite 0s; 
}

.cb_slideshow li:nth-child(1) span { 
    background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/d857ebfa10e2991f206278011cf4f23ae53d47ebdc179da7cab32acbf3b19b3d.jpg) 
}
.cb_slideshow li:nth-child(2) span { 
    background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/67cbbe21b518833abca56071ff60215e67b94475375d72941790a8ce82508899.jpg);
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s; 
}
.cb_slideshow li:nth-child(3) span { 
    background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/087c98619ddc202524a024699edf34a1bc1e8a39f0e6555dfdff550e42a26327.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb_slideshow li:nth-child(4) span { 
    background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/a371e5c6b36d87187fc9329d59037161701b14433107a05095373ea782f41529.jpg);
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s; 
}
.cb_slideshow li:nth-child(5) span { 
    background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/35447964199e5a7659803887a8ebb54833883813686aef7c4d2a088677be3e47.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb_slideshow li:nth-child(6) span { 
    background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/2ff82bc3845c26bd9802b2e027e2340fedede12dfa2fb3891716004ca97dc784.jpg);
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s; 
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb_slideshow li span{
	opacity: 1;
}


.title h1{
    color:white;
    position: absolute;
    top:25%;
    margin-bottom: 1rem;
    font-family: Bookman;
    font-size: 6rem;
}

.title button{
    background-color: rgba(0,0,0,0.2);
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    font-family: Bookman;
    color:white;
    position: relative;
    top:40%;
    -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title button:hover{
    color: gold;
    
}
.title{
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: title 4s linear; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: title 4s; /* Firefox < 16 */
        -ms-animation: title 4s; /* Internet Explorer */
         -o-animation: title 4s; /* Opera < 12.1 */
            animation: title 4s linear;
}



@keyframes title {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes title {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes title {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes title {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes title {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media screen and (max-width: 950px){
   
    .title h1{
        font-size: 4rem;
    }
    .title button{
        font-size: 3rem;
    };
}
@media screen and (max-width: 600px){
    .cb_slideshow li:nth-child(1) span { 
        background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/b4094ea4da26ac111e510d610c1fb19c203ce07bb9c5ef2979613f3d9a24965f.jpg) 
    }
    .cb_slideshow li:nth-child(2) span { 
        background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/1c5b212289b15340b318b1c17027eb4294068a28ab6ac2ab43992f517e7c4399.jpg);
      }
      .cb_slideshow li:nth-child(3) span { 
        background-image: url(https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/8802df3df1c6a5d7c6986469ba160984c71a3e60755e4f8c9b1e74c57bf61d55.jpg);
      }
      .cb_slideshow li:nth-child(4) span { 
        background-image: url( https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/c3585e1d62984fe1ae2333c2bb112a37c53f87d741802c2e1aec2b453ec2024d.jpg);
      }
      .cb_slideshow li:nth-child(5) span { 
        background-image: url( https://girko.net/uploadedMedia/service/redkaigor/7693/reduce_quality/67cbbe21b518833abca56071ff60215e67b94475375d72941790a8ce82508899.jpg);
      } 
    .title h1{
        font-size: 3rem;
    }
    .title button{
        font-size: 2rem;
    }
   
}

